{{define "form"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/form.css">
    <title>Form</title>
</head>

<body>
    <form action="/user/treatment" method="post">
        <div class="title">
            <h1>Formulaire</h1>
        </div>
        <div class="header-form">
            <div class="form-surname">
                <label for="surname">Nom</label>
                <input type="text" name="nom" id="surname">
            </div>
            <div class="form-name">
                <label for="firstname">Prenom</label>
                <input type="text" name="prenom" id="firstname">
            </div>
        </div>
        <div class="footer-form">
            <div class="form-birth">
                <label for="birth">Date de naissance</label>
                <input type="text" name="naissance" id="birth">
            </div>
            <div class="form-gender">
                <label for="gender">Sexe</label>
                <select name="sexe" id="gender">
                    <option>Choisissez votre sexe</option>
                    <option>Homme</option>
                    <option>Femme</option>
                    <option>Autre</option>
                </select>
            </div>
        </div>
        <button type="submit">Valider</button>
    </form>
</body>

</html>
{{end}}