{{define "formdisplay"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/formdisplay.css">
    <title>Form Display</title>
</head>

<body>

    {{if .IsEmpty}}
    <p class="isempty">Erreur !</p>
    {{else}}
    {{if .CheckValue}}
    <div class="form">
        <div class="title">
            <h1>Vos Données</h1>
        </div>
        <div class="things">
            <p>Votre nom : {{.Surname}}</p>
            <p>Votre prénom : {{.Firstname}}</p>
            <p>Votre date de naissance : {{.Birth}}</p>
            <p>Votre genre : {{.Gender}}</p>
        </div>
    </div>
    {{else}}
    <p class="error">Erreur !</p>
    {{end}}
    {{end}}
</body>

</html>
{{end}}