{{define "promo"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>Promo</title>
</head>

<body>
    <div class="promo">
        <h1>La classe : {{.NomDeClasse}}</h1>
        <p>La filière : {{.Filiere}}</p>
        <p>Le niveau : {{.Niveau}}</p>
        <p>Le nombre d'étudiant : {{.NbrEtudiant}}</p>
        <p>Voici les étudiants présents dans cette classe : </p>
        <div class="etudiants">
            {{range .ListEtudiant}}
            <p>{{.Nom}} {{.Prenom}} {{.Age}} ans, </p>
            {{if eq .Sexe "Homme"}}
            <div class="homme">
                <p>sexe : </p><img src="/static/img/Symbole_Martien-Masculin.png" alt="">
            </div>
            {{else}}
            <div class="femme">
                <p>sexe : </p>
                <img src="/static/img/B9719431430Z.1_20190430160531_000+GE8DGJAJ1.1-0.png.jpg" alt="">

            </div>
        </div>
        {{end}}
        {{end}}
    </div>
</body>

</html>
{{end}}